# Add these lines to your existing .gitignore
attendance_env/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.npy
*.db
*.xlsx
static/uploads/*
!static/uploads/.gitkeep

# Face recognition models
face_recognition_models/
models/
*.dat